body {
  background-color: rgb(199, 171, 171);
  /* border-left: 200px solid transparent; */
  /* border-right: 200px solid transparent; */
  text-align: center;
  justify-content: left;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

#carrierIcon {
    width: 20px;
    height: 20px;
  }


  .carrier-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }  

  b {
    color: red !important; 
    font-size: 20px;
    display: inline-block;
    float: none;
  }
